<a href="https://colab.research.google.com/github/softconrob/KRGM/blob/main/data_preprocessing_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
path_to_players = 'players_22.csv'
path_to_female_players = 'female_players_22.csv'

# Read the CSVs into pandas DataFrames
players_df = pd.read_csv(path_to_players)
female_players_df = pd.read_csv(path_to_female_players)

<ipython-input-3-58c2b88cac07>:5: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players_df = pd.read_csv(path_to_players)

In [ ]:
merged_df = pd.concat([players_df, female_players_df], ignore_index=True)

In [ ]:
# Select columns of interest
selected_columns = merged_df[['short_name', 'overall', 'age', 'club_name', 'player_positions', 'shooting', 'physic', 'dribbling', 'passing', 'pace']]

# Display summary statistics
summary = selected_columns.describe()
print(summary)

            overall           age      shooting        physic     dribbling  \
count  19630.000000  19630.000000  17450.000000  17450.000000  17450.000000
mean      65.990117     25.246510     52.525960     64.864126     62.736848
std        7.027620      4.744188     14.177713      9.795504      9.731703
min       47.000000     16.000000     18.000000     29.000000     27.000000
25%       62.000000     21.000000     42.000000     59.000000     57.000000
50%       66.000000     25.000000     55.000000     66.000000     64.000000
75%       71.000000     29.000000     63.000000     72.000000     69.000000
max       93.000000     54.000000     94.000000     90.000000     95.000000

            passing          pace
count  17450.000000  17450.000000
mean      57.506017     68.333639
std       10.160323     10.924783
min       25.000000     28.000000
25%       51.000000     62.000000
50%       58.000000     69.000000
75%       64.000000     76.000000
max       93.000000     97.000000

In [ ]:
missing_values = selected_columns.isnull().sum()
print("Missing values for selected attributes:")
print(missing_values)

Missing values for selected attributes:
short_name             0
overall                0
age                    0
club_name            452
player_positions       0
shooting            2180
physic              2180
dribbling           2180
passing             2180
pace                2180
dtype: int64

In [ ]:
duplicate_rows = selected_columns.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [ ]:
unique_values_column_a = selected_columns['age'].nunique()
print(f"Number of unique values in column_a: {unique_values_column_a}")

Number of unique values in column_a: 29